@model UpdateReservationDto
@{
    ViewData["Title"] = "UpdateReservation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">

                <div class="card">
                    <div class="card-header">
                        <h4>Rezervasyon Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">

                            <input type="hidden" asp-for="ReservationId" />

                            <label>Misafir Adı</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>E-Posta</label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <br />
                            <label>Telefon</label>
                            <input type="tel" asp-for="PhoneNumber" class="form-control" />
                            <br />
                            <label>Rezervasyon Tarihi</label>
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                            <br />
                            <label>Rezervasyon Saati</label>
                            <input type="time" asp-for="ReservationTime" class="form-control" />
                            <br />
                            <label>Kişi Sayısı</label>
                            <input type="number" asp-for="CountofPeople" class="form-control" />
                            <br />
                            <label>Rezervasyon Durumu</label>
                            <input type="text" asp-for="ReservationStatus" readonly class="form-control" />
                            <br />
                            <label>Misafir Mesajı</label>
                            <textarea rows="5" asp-for="Message" class="form-control"> </textarea>
                            <br />
                            <button class="btn btn-primary">Kaydet</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
